@import "libs/color";

html {
  body {
    margin: 0 auto;
    font-family: "Roboto";
    %button {
      background-color: darken($secondary, 40);
      box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.2);
      border-radius: 40px;
      border: 0;
      color: #fff;
      font-weight: 800;
      font-size: 15px;
      padding: 15px;
      &:hover {
        background-color: lighten($secondary, 10);
      }
    }
    @import "header";
    .container {
      .head {
        img {
          width: 100%;
          height: 170px;
        }
      }
      .menu {
        background-color: #f2f2f2;
        border-radius: 30px;
        position: relative;
        transform: translateY(-4rem);
        h2 {
          padding: 20px;
          font-style: oblique;
        }

        i {
          position: absolute;
          top: 2%;
          right: 10%;
          font-size: 25px;
        }
        .starter {
          padding: 10px;

       

          .thumbnails {
            display: flex;
            background-color: #fff;
            border-radius: 10px;
            margin-bottom: 20px;
            justify-content: space-between;
            align-items: center;
            .text {
              padding: 10px;
              .name{
                margin: 0;
              }
              .accompaniment{
                margin: 0
              }
            }
            .price {
              margin: 10px 10px 0;
              font-size: 13px;
            }

            p {
            }
          }
        }
      }

      .button-explore {
        @extend %button;
      }
    }
    @import "footer";
  }
}
