@import "libs/color";

html {
  body {
    margin: 0 auto;
    font-family: "Roboto";
    %button {
      background-color: darken($secondary, 40);
      box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.2);
      border-radius: 40px;
      border: 0;
      color: #fff;
      font-weight: 800;
      font-size: 15px;
      padding: 15px;
      &:hover {
        background-color: lighten($secondary, 10);
      }
    }
    @import "header";
    .container {
      .head {
        img {
          width: 100%;
          height: 170px;
        }
      }
      .menu {
        background-color: #f2f2f2;
        border-radius: 20px;
        position: relative;
        transform: translateY(-2rem);
        i {
          position: absolute;
          top: 5%;
          right: 10%;
          font-size: 25px;
        }
        padding: 10px;
        h4 {
          padding: 0;
          margin: 0;
        }

        .thumbnails {
          background-color: #fff;
          border-radius: 20px;
          margin-bottom: 20px;
          .price {
          
          }

          p {
            padding: 0;
            margin: 0;
          }
        }
      }

      .button-explore {
        @extend %button;
      }
    }
    @import "footer";
  }
}
