@import "libs/color.scss";
header {
  font-family: "Shrikhand";
  text-align: center;
}

body {
  margin: 0 auto;
  font-family: "Roboto";
}

.container {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0;
  grid-gap: 0;
}
%button {
  background-color: darken($secondary, 40);
  box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.2);
  border-radius: 40px;
  color: #fff;
  font-weight: 800;
  font-size: 15px;
  padding: 10px;
  &:hover {
    background-color: lighten($secondary, 10);
  }
}
.explore {
  text-align: center;
  background-color: $background;
  padding-bottom: 40px;
  input {
    background-color: darken($background, 5);
    border: 0;
    width: 50%;
    text-align: center;
  }
  .location {
    background-color: darken($background, 5);
    padding: 10px;
  }
  h1 {
    font-weight: 800;
    font-size: 22px;
    padding: 0 30px;
  }
  P {
    padding: 0 20px;
  }
  .button-explore {
    @extend %button;
  }
}
%background-tuto {
  background-color: $background;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}
.tutorial {
  padding: 10px;
  margin: 10px;
  .choose {
    @extend %background-tuto;
    margin-bottom: 10px;
    font-weight: 800;
  }
  .compose {
    @extend %background-tuto;
    margin-bottom: 10px;
    font-weight: 800;
  }
  .eat {
    @extend %background-tuto;
    margin-bottom: 10px;
    font-weight: 800;
  }
}
.restaurants {
  background-color: #f2f2f2;
  padding: 1rem;
  .box-restaurants {
    .vignettes-restaurants {
      background-color: #fff;
      border-radius: 20px;
      margin-bottom: 20px;
    }
    img {
      width: 100%;
      height: 170px;
      border-radius: 20px 20px 0px 0px;
    }
  }
}
