.container {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0;
  /* Media query Tablettes */
  @include respond(sm) {
    align-items: center;
  }
  .menu {
    @include respond(sm) {
      width: 100%;
    }
    @include respond(md) {
      display: block;
    }
    .explore {
      text-align: center;
      background-color: $background;
      padding-bottom: 30px;
      @include respond(sm) {
      }
      .location {
        background-color: darken($background, 5);
        padding: 5px;
        input {
          background-color: darken($background, 5);
          border: 0;
          width: 40%;
          text-align: center;
        }
      }
      h1 {
        font-weight: 800;
        font-size: 22px;
        padding: 0px 30px 0;
        margin: 15px 0 0 0;
      }
      p {
        padding: 0;
        margin: 0 0 15px 0;
      }
      .button-explore {
        background-color: darken($secondary, 40);
        box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.2);
        border-radius: 40px;
        border: 0;
        color: #fff;
        font-weight: 800;
        font-size: 15px;
        padding: 15px;
        transition: 0.4s;
        cursor: pointer;
        &:hover {
          box-shadow: 4px 4px 6px rgba($color: #000000, $alpha: 1);
          background-color: lighten($secondary, 10);
          color: #000;
        }
      }
    }
    .tutorial {
      margin-bottom: 40px;
      @include respond(sm) {
        margin: 0;
      }
      h2 {
        margin-left: 0.5rem;
        padding: 0;
        margin: 15px 0px 0 5px;
        @include respond(md) {
          text-align: center;
        }
      }
      ol {
        counter-reset: my-counter;
        list-style-type: none;
        padding: 0;
        margin: 0.5rem;
        font-weight: 600;
        @include respond(md) {
          display: flex;
          grid-gap: 40px;
          justify-content: center;
          align-items: center;
          padding: 10px;
        }
        @include respond(sm) {
          display: flex;
          grid-gap: 4px;
          text-align: center;
          justify-content: center;
          align-items: center;
          padding: 10px;
        }

        li {
          counter-increment: my-counter;
          background-color: #f2f2f2;
          border-radius: 20px;
          margin-bottom: 10px;
          padding: 10px;
          cursor: pointer;
          &:hover {
            animation: animtutorial 2s forwards linear;
            -webkit-animation: animtutorial 2s forwards linear;
            i {
              animation: animicon 2s forwards linear;
              -webkit-animation: animicon 2s forwards linear;
            }
          }
          @include respond(md) {
            padding-right: 15px;
            white-space: nowrap;
          }
          &:before {
            content: counter(list-item);
            color: #fff;
            display: inline-flex;
            height: 20px;
            width: 20px;
            margin: 15px 5px 15px 25px;
            transform: translate(-15px);
            justify-content: center;
            border-radius: 50%;
            background-color: #9356dc;
          }
          i {
            margin-right: 25px;
            width: 10px;
            &:hover {
              animation: animicon 4s forwards linear;
              -webkit-animation: animicon 4s forwards linear;
            }
            @include respond(sm) {
              width: 0;
            }
          }
        }
      }
    }
  }
  .restaurants {
    background-color: #f2f2f2;
    padding: 1rem;
    h2 {
      margin-left: 20px;
    }
    .box-restaurants {
      /* Media query Tablettes */
      @include respond(sm) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 5px;
        margin-bottom: 40px;
      }
      /* Media query desktop */
      @include respond(lg) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 40px;
        padding: 20px;
        margin-bottom: 40px;
      }
      .vignettes-restaurants {
        background-color: #fff;
        border-radius: 20px;
        margin-bottom: 20px;
        position: relative;
        @include respond(sm) {
          margin: 0;
        }
        a {
          text-decoration: none;
          color: black;
          .new {
            background-color: lighten($tertiary, 5);
            z-index: 1;
            position: absolute;
            width: 30%;
            text-align: center;
            top: 4%;
            right: 4%;
            h5 {
              padding: 0%;
              margin: 5%;
              color: #000;
              opacity: 0.5;
            }
          }
        }
        .text {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          .name-restaurants {
            padding: 5%;
            width: 100%;
            h4 {
              padding: 0;
              margin: 0;
            }
            p {
              padding: 0;
              margin: 0;
            }
          }
          .heart {
            border-style: none;
            background-color: #fff;
            outline: none;
            align-items: center;
            cursor: pointer;
            font-size: 27px;
            position: absolute;
            right: 1.5rem;
            bottom: 2.5rem;
            @include respond(sm) {
              right: 0.5rem;
            }
            @include respond(lg) {
              right: 0.5rem;
            }
            .heart_full {
              position: absolute;
              &:first-child {
                opacity: 0;
              }
              &:last-child {
                opacity: 1;
              }
            }
            &:hover {
              .heart_full {
                &:first-child {
                  font-size: 22px;
                  right: 8px;
                  top: 5px;
                  color: $secondary;
                  animation: heart 3s forwards linear;
                  -webkit-animation: heart 3s forwards linear;
                  opacity: 1;
                }
                .heart_empty {
                  &:last-child {
                    opacity: 0;
                  }
                }
              }
            }
          }
        }
      }
      img {
        width: 100%;
        height: 170px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        /* Media query Tablettes */
        @include respond(sm) {
          height: 250px;
        }
        /* Media query Desktop */
        @include respond(md) {
          height: 300px;
        }
        /* Media query large */
        @include respond(xl) {
          max-width: 300px;
        }
      }
    }
  }
}
